<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    <style>
        body {
            background: url("/static/home.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <!--背景图充满屏幕，随浏览器实时变化的标准写法-->

</head>
<body style="text-align: center">

<div style="text-align: center">
    <h1 style="color: white;margin-left: 410px">欢迎使用 {{ username }}接口测试平台</h1>

    {# 这里放传送门 #}
    <div style="border: 1px solid black;border-radius: 10px 0px 0px 10px;text-align: center;background-color: #e3ffe3;opacity: 0.8;color: white;margin-left: 300px">
        <h3 style="color: #3e2935">欢迎使用传送门：</h3>
        <strong>
           {% for i in hrefs %}
               <a href="{{ i.href }}" target="_blank" style="color:#353c48;text-decoration: none">{{ i.name }}</a><br>
            {% endfor %}
        </strong>

    </div>

    {#        这里存放个人项目#}
       <br>
        <div style="border: 1px solid black;border-radius: 10px 0px 0px 10px;text-align: center;background-color: #e3ffe3;opacity: 0.8;color: white;margin-left: 300px">
            <h3 style="color: #3e2935">您的项目：</h3>
            <span style="color: black">
            {#       这里存放后续的个人项目列表循环，类似传送门的套路 ,点击自己创建的项目可以直接进入项目内     #}
        <strong>
           {% for i in projects %}
               <a href="{{ i.project }}" target="_blank" style="color:#353c48;text-decoration: none">{{ i.name }}</a><br>
            {% endfor %}
        </strong>
            </span>
            <br>
        </div>

            <br>
        <div style="border: 1px solid black;border-radius: 10px 0px 0px 10px;text-align: center;background-color: #e3ffe3;opacity: 0.8;color: white;margin-left: 300px">
            <h3 style="color: #3e2935">最新消息：</h3>
            <span style="color: black">
            帮助页面上线；<br>
            后台开启，仅限有管理权限同学使用；<br>
            项目列表上线，您现在可以进入所有项目内了 <br>
                </span>
            <br>
        </div>

    <br>
    <div style="border: 1px solid black;border-radius: 10px 0px 0px 10px;text-align: center;background-color: #e3ffe3;opacity: 0.8;color: grey;margin-left: 300px">
        <br>
        <textarea id="diss_input" cols="50" rows="10" placeholder="吐槽专用，点击 diss 按钮即可怒喷开发者"
        style=";border-radius: 5px;padding-left: 10px;box-shadow: 4px 4px 9px grey"></textarea>
        <br>
        <button style="border-radius: 0px 0px 50px 50px;width: 100px" onclick="diss()">diss ！</button>
    {#    <img src="/static/201908059658/小风馋月.png" alt="logo" style="width:400px;" >#}
    </div>
</div>
<script>
    function diss() {
        $.get("/diss/", {
            "diss_text": document.getElementById('diss_input').value,
        }, function (ret) {
            if (ret != "空") {
                alert('已经吐槽成功')
            } else {
                alert('请输入吐槽内容！')
            }
        })

    }
</script>
</body>
</html>